<p>
  {{_itemToBurn.name}}
</p>
<input [(ngModel)]="itemAmount" type="number" min="1" (change)="numbersChanged()" (click)="numbersChanged()"/>

<input [(ngModel)]="splitCount" type="number" min="1" (change)="numbersChanged()" (click)="numbersChanged()" />
<br />
<div class="numbered-image">
  <img src="../../assets/images/wood.png" height="40" width="40"/>
  <img class="burn" src="../../assets/images/fuel.png" height="20" width="20"/>
  <p *ngIf="requiredWoodAmount > 1">
    x{{requiredWoodAmount}}
  </p>
</div>
<img src="../../assets/images/rarrow.png" height="13" width="32"/>

<div class="numbered-image">
  <img src="{{_itemToBurn.burnsTo.image}}" height="40" width="40"/>
  <p *ngIf="_itemToBurn.burnsToAmount * itemAmount">
    x{{_itemToBurn.burnsToAmount * itemAmount}}
  </p>

</div>
